.main-bar {
  padding: 1rem 1rem;

  @include media-breakpoint-down("sm") {
    padding: .5rem 1rem;
  }

  .navbar-brand {
    margin-right: 2rem;

    img {
      height: 35px;

      @include media-breakpoint-up("sm") {
        height: 60px;
      }
    }
  }

  .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    color: $gray-800;

    @include media-breakpoint-between("lg", "lg") {
      font-size: .75rem;
    }
  }

  @media (min-width: 992px) {
    &.navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: .875rem;
    }
  }

  .nav-form-search {
    input {
      min-width: 250px;

      @include media-breakpoint-between("lg", "lg") {
        min-width: 150px;
      }
    }
  }
}

.nav-tabs-cart {
  background-color: #effcfc;
  border-radius: 15px;

  .nav-item {
    &:not(:last-child) {
      .nav-link-disabled {
        border-radius: 0;
      }
    }

    &:last-child {
      .nav-link-disabled {
        border-top-left-radius: 0;
      }
    }

    .nav-link {
      color: $indigo;
      font-size: .875rem;
      padding: 1.5rem 1rem 1.25rem;

      &.nav-link-disabled {
        background-color: $light;
        color: $text-muted;
      }

      &.active {
        color: $secondary;
      }

      .badge {
        padding: 0.25em 0.5em;
        vertical-align: 20%;
        margin-left: 5px;
      }
    }

    @include media-breakpoint-down("md") {
      flex: 1 1 0;

      .nav-link {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: .875rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}