.card-product {
  position: relative;
  overflow: hidden;

  .card-product-action {
    position: absolute;

    svg {
      polygon {
        fill: $danger;
      }

      text {
        fill: $white;
        font-family: $font-family-sans-serif;
        font-size: 135px;
        font-weight: 700;
      }
    }
  }

  .card-product-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  .card-product-name {
    color: $gray-800;
    margin-bottom: 1.5rem;
  }

  .card-product-price {
    font-size: 1.125rem;
    font-weight: 700;
    color: $primary;

    &.card-product-price-action {
      color: $danger;
    }

    .card-product-price-old {
      font-size: .75rem;
      color: $gray-800;
      text-decoration: line-through;
    }
  }

  .card-product-availability {
    font-weight: 500;
  }
}